.author_tittle {
    text-transform: uppercase;
}

#author {
    margin: 25px 0;
    #module_author_info {
        background: $contact-back;
        > div > div {
            padding: 0;
        }
        figure {
            max-width: 360px;
            margin: 0 auto;
            position: relative;
            img {
                display: block;
                margin: 0 auto;
                width: 100%;        
            }
            figcaption {
                background: rgba($main-green,0.8);
                bottom: 0;
                color: #FFF;
                padding: 10px 0;
                position: absolute;
                text-align: center;
                text-transform: uppercase;
                width: 100%;
                h3 {
                    @extend .robotoBold;
                    @extend .reset;
                    font-size: 20px;
                }
                p {
                    @extend .robotoRegular;
                    @extend .reset;
                    font-size: 12px;
                }
            }
        }
        section {
            color: #313131;
            padding: 25px;
        }
    }
    #module_author_notes {
        margin-top: 20px;
        > div > div {
            .cropImg {
                height: 180px;
                margin: 0 auto;
                width: 290px;
            }
        }
        .note {
            padding-top: 15px;
        }
        #notes_category_button {
            margin-top: 30px;
        }
    }
}

@media screen and (min-width: 768px){ 
    #author {
        #module_author_info {
            display: block;
            margin: 0 auto;
            max-width: 720px;
            figure {
                figcaption {
                    h3 {
                        font-size: 30px;
                    }
                    p {
                        font-size: 20px;
                    }
                }
            }
            section {
                padding: 55px 25px 25px;
            }
        }
        #module_author_notes {
            margin-top: 20px;
            > div > div {
                float: left;
                .cropImg {
                    height: 180px;
                    margin: 0 auto;
                    width: 290px;
                }
            }
            .note {
                padding-top: 15px;
            }
            #notes_category_button {
                margin-top: 30px;
            }
        }
    }
    
}