#module_tittle_category {
    background: #000;
    color: #FFF;
    padding: 10px 0;
    h1 {
        @extend .robotoBold;
        font-size: 16px;
        margin: 5px 0 5px 10px;
        span { 
            @extend .robotoRegular;
            display: block;
            font-size: 15px;
        }
    }
    #breadcrumb {
        @extend .robotoBold;
        font-size: 16px;
        padding: 10px 0;
        text-align: center;
        h1 {
            font-size: 16px;
            display: inline-block;
            margin: 0;
        }
    }
    #logoC {
        max-width: 200px;
        img {
            display: block;
            height: 50px;
        }
    }
}
.module_notes_category {
    > div > div {
        .cropImg {
            img {
                height: 100%;
            }
        }
    }
}
.module_notes_category, #module_author_notes {
    #btnMore {
        background: $main-greyLine;
        border: 1px solid $main-grey;
        cursor: pointer;
        font-size: 12px;
        margin: 0 auto 30px;
        padding: 5px 0;
        text-align: center;
        width: 130px;
        &:hover {
            background: $main-green;
            border: 1px solid #FFF;
            a {
                color: #FFF;
            }
        }
        a {
            color: $main-greyb;
            text-decoration: none;
        }
    }
    .note {
        border-bottom: 1px solid $main-greyLine;
        padding-top: 5px;
    }
    > div > div {
        @extend .reset;
        display: block;
        float: none;
        vertical-align: middle;
        overflow: hidden;
        .cropImg {
            height: 180px;
            margin: 0 auto;
            width: 230px;
        }
        .info {
            max-width: 350px;
            margin: 0 auto;
            h3 {
                @extend .robotoBold;
                color: #000;
                font-size: 20px;
                margin: 10px 0 0 0;
            }
            span {
                @extend .robotoRegular;
                color: $main-greyb;
                display: block;
                margin-bottom: 10px; 
            }
            p {
                color: $main-greyb;
            }
        }   
    }
}

@media screen and (min-width: 480px){ 
    .module_notes_category, #module_author_notes {
        .note {
            border: none;
            margin: 20px auto !important;
            padding: 0;
        }
        > div > div {
            display: inline-block;
            float: none;
            vertical-align: middle;
            overflow: hidden;
            width: 49%;
            &:last-of-type {
                padding: 0 10px;
            }
            .info {
                h3 {
                    margin: 0;
                }
                p {
                    max-height: 100px;
                    overflow: hidden;
                }
            }
        }
    }
}

@media screen and (min-width: 768px){ 
    #module_tittle_category {
        clear: both;
        overflow: auto;
        h1 {
            font-size: 20px;
            span {
                font-size: 16px;
            }
        }
        #content {
            margin: 0 auto;
            max-width: 720px;
        }
        #breadcrumb {
            float: right;
            margin-top: 10px;
        }
        #logoC {
            float: left;
        }
    }
    .module_notes_category, #module_author_notes {
        .note {
            max-width: 720px;
        }
        > div > div {
            float: left;
            overflow: hidden;
            width: 30%;
            &:last-of-type {
                padding: 0 10px;
                width: 70%;
            }
            .cropImg {
                height: 150px;
                margin: 0 auto;
                width: 230px;
            }
            .info {
                max-width: none;
                h3, p {
                    margin: 0;
                }
                p {
                    max-height: 80px;
                }
                span {
                    margin-bottom: 20px;
                }
            }
        }
    }
}

@media screen and (min-width: 1200px){ 
    #module_tittle_category {
        #content {
            max-width: 1100px;
        }
    }
}