#contact, #static {
    background: $contact-back;
    > div {
        @extend .robotoRegular;
        background: #FAFAFA;
        border: 1px solid #DCE1DD;
        padding: 30px;
        text-align: center;
        p {
            margin: 0 auto;
            width: 80%;
        }
    }
    > h2 {
        @extend .robotoBold;
        color: $main-greenl;
        font-size: 20px;
    }
    > p {
        @extend .robotoRegular;
        color: $main-greyb;
        font-size: 14px;
        &:last-of-type {
            margin: 10px 0 20px;
            a {
                @extend .robotoBold;
                color: $main-green;
            }
        }
    }
    form {
        input, textarea {
            background: #FAFAFA;
            border: 1px solid #DCE1DD;
            resize: none;
            margin-bottom: 15px;
            padding: 6px 0 6px 10px;
            width: 100%;
        }
        textarea {
            height: 200px;
            padding: 10px 0 10px 10px;
        }
        .g-recaptcha {
            display: block;
            margin: 0 auto;
            width: 310px;
        }
        .send {
            margin: 30px auto 10px;
            width: 150px;
            input {
                @extend .robotoRegular;
                background: $main-greenl;
                border: none;
                color: #FFF;
                font-size: 16px;
                padding: 8px 0;
                &:hover {
                    background: darken($main-greenl, 10%);
                }
            }
        }
    }
    hr {
        background: $main-greenl;
        height: 5px;
        margin: 10px 0;
    }
    .block {
        label {
            @extend .robotoBold;
            color: $main-greenl;
            display: block;
            font-size: 16px;
            margin: 0;
        }
    }
}

@media screen and (min-width: 768px){ 
    #contact, #static {
        float: none;
        max-width: 650px;
        margin: 50px auto;
        padding: 15px 90px;
        width: 100%;
        > h2 {
            font-size: 24px;
        }
        > p {
            &:last-of-type {
                margin: 40px 0;
            }
        }
        hr {
            margin-bottom: 40px;
        }
        form {
            textarea {
                height: 130px;
            }
        }
        .block {
            label {
                font-size: 20px;
            }
        }
    }
}

@media screen and (min-width: 992px){ 
    #contact, #static {
        max-width: 800px;
    }
}

@media screen and (min-width: 1200px){ 
    #contact, #static {
        max-width: 900px;
    }
}
