#directory {
    float: none;
    margin: 0 auto;
    padding-bottom: 40px;
    padding-top: 30px;
    max-width: 500px;
    width: 100%;
    .employee {
        h2 {
            @extend .robotoBold;
            border-bottom: 2px solid $main-greenl;
            color: $main-greenl;
            font-size: 16px;
            margin: 8px 0 3px;
            a.mail {
                @extend .sprite;
                background-position: -200px -30px;
                cursor: pointer;
                float: right;
                height: 15px;
                margin-top: 2px;
                width: 20px;            
            }
        }
        p {
            @extend .robotoRegular;
            color: $main-greyb;
        }
    }
}

@media screen and (min-width: 768px){
    #directory {
        max-width: 750px;
        .employee {
            h2 {
                font-size: 20px;
                a.mail {
                    margin-top: 7px;           
                }
            }
            p {
                font-size: 16px;
                margin-bottom: 40px;
            }
        }
        .row {
            > div:last-of-type {
                > div {
                    margin-right: 0;
                    margin-left: 10%;
                }
            }
        }
    }    
}
@media screen and (min-width: 992px){
    #directory {
        max-width: none;
        .employee {
            width: 90%;
            h2 {
                font-size: 20px;
            }
            p {
                font-size: 16px;
                margin-bottom: 40px;
            }
        }    
    }
}