.moduleTop {
    border-bottom: 1px solid $main-greyLine;
    height: auto;
    overflow: auto;
    h2 {
        @extend .robotoBold;
        color: $main-greenl;
        float: left;
        font-size: 24px;
        margin: 5px 0;
        text-transform: uppercase;
    }
    > div {
        float: right;
        a {
            border: 1px solid $main-greyLine;
            color: #333;
            display: inline-block;
            height: 20px;
            text-align: center;
            width: 18px;
            &:hover {
                border: 1px solid #333;
            }
        }
    }
}
.module_banner_main {
    margin: 20px auto;
    display: none;
    width: 728px;
    img {
        width: 100%;
    }
}
#container {
    box-shadow: 0px 0px 4px #777;
    margin: 10px auto 20px;
    max-width: 1160px;
    padding-bottom: 20px;
    .row {
        margin: 0;
    }
    #date {
        font-weight: bold;
        border-bottom: 1px solid $main-greyLine;
        padding: 10px 15px;
    }
    #mainContent {
        .slide, .note {
            position: relative;
            .category {
                color: #FFF;
                left: 0;
                position: absolute;
                top: 20px;
                img {
                    background: rgba(255,255,255,0.8);
                    max-height: 45px;
                    max-width: 90px; 
                    padding: 4px 5px;
                    width: 100%;
                }
            }
        }
    }
}
#module_gallery, #module_main_category, #module_main_note {
    margin: 20px 0;
    .mainImageHover {
        &:hover {
            section {
                background: rgba($main-green, 1);
            }
        }
    }
    .mainImage {
        height: 300px;
        position: relative;
        section {
            @extend .opacityGreen;
            bottom: 0px;
            color: #FFF;
            cursor: pointer;
            left: 0;
            position: absolute;
            text-align: center;
            width: 100%;
            h2 {
                @extend .robotoBold;
                font-size: 0.9em;
                margin: 5px 0;
                text-transform: uppercase;
            }
            p {
                @extend .robotoRegular;
                margin: 5px 0;
            }
        }
        .cropImg {
            height: 300px;
            width: 440px;
        }
    }
    #gallerySec {
        margin: 0 auto;
        width: 285px;
        .gallerySecHover {
            text-decoration: none;
            &:hover {
                h3 { 
                    color: $main-green;
                }
            }
        }
        > div > div {
            padding: 0; 
            .cropImg {
                height: 160px;
                margin: 10px auto 0;
                width: 320px;
            }
            .info {
                max-width: 350px;
                margin: 0 auto;
                h3 {
                    @extend .robotoBold;
                    color: #000;
                    font-size: 1em;
                    margin: 5px 0 0 0;
                }
                span {
                    @extend .robotoRegular;
                    color: $main-greyb;
                    display: block;
                    margin-bottom: 10px; 
                }
                p {
                    color: $main-greyb;
                    padding-right: 10px;
                }
            }
        }
    }
    #galleryContainer {
        margin: 10px auto 0;
        max-width: 440px;
        overflow: hidden;
    }
        
}
#module_main {
    margin-top: 20px;
    .caroufredsel_wrapper {
        box-sizing: content-box;
        max-width: none;
        padding-bottom: 40px !important;
    }
    #newCarrousel {
        .slide {
            float: left;
            .mainImageHover {
                &:hover {
                    section {
                        background: rgba($main-green, 1);
                    }
                }
            }
            .mainImage {
                height: 300px;
                position: relative;
                section {
                    @extend .opacityGreen;
                    bottom: 0px;
                    color: #FFF;
                    cursor: pointer;
                    left: 0;
                    position: absolute;
                    text-align: center;
                    width: 100%;
                    h2 {
                        @extend .robotoBold;
                        font-size: 0.9em;
                        margin: 5px 0;
                        text-transform: uppercase;
                    }
                    p {
                        @extend .robotoRegular;
                        margin: 5px 0;
                    }
                }
                .cropImg {
                    height: 300px;
                    width: 440px;
                }
            }
            .news, .itemAd {
                .newsHover {
                    &:hover {
                        h3 {
                            color: $main-green;
                        }
                    }
                }
                margin: 20px auto 0;
                overflow: hidden;
                max-width: 285px;
                section > div {
                    padding: 0;
                }
                .cropImg {
                    height: 160px;
                    margin: 0 auto;
                    width: 320px;
                }
                .info {
                    color: $main-greyb;
                    margin: 0 auto 20px;
                    max-width: 350px;
                    h3 {
                        @extend .robotoBold;
                        color: #000;
                        font-size: 1em;
                        margin: 5px 0 0 0;
                    }
                    span {
                        @extend .robotoRegular;
                        display: block;
                        margin-bottom: 10px; 
                    }
                }
            }
        }
        
    }
    #newCarrouselContainer {
        margin: 10px auto 0;
        max-width: 440px;
    }
}
#module_sport {
    
    #sportCarrousel {
        .slide {
            float: left;
            .mainImageHover {
                &:hover {
                    section {
                        background: rgba($main-green, 1);
                    }
                }
            }
            .mainImage {
                height: 300px;
                position: relative;
                section {
                    @extend .opacityGreen;
                    bottom: 0px;
                    color: #FFF;
                    cursor: pointer;
                    left: 0;
                    position: absolute;
                    text-align: center;
                    width: 100%;
                    h2 {
                        @extend .robotoBold;
                        font-size: 0.9em;
                        margin: 5px 0;
                        text-transform: uppercase;
                    }
                    p {
                        @extend .robotoRegular;
                        margin: 5px 0;
                    }
                }
                .cropImg {
                    height: 300px;
                    width: 440px;
                }
            }
        }
    }
    #sportNav {
        margin: 10px auto 30px;
        width: 40px;
        a {
            border: 1px solid $main-greyLine;
            color: #333;
            display: inline-block;
            height: 20px;
            text-align: center;
            width: 18px;
            &:hover {
                border: 1px solid #333;
            }
        }
    }
    #sportSec {
        margin: 10px auto 0;
        max-width: 400px;
        .sportsSecHover {
            text-decoration: none;
            &:hover {
                h3 {
                    color: $main-green;
                }
            }
        }
        > div {
            margin: 0 0 20px 0;
            padding: 0;
            overflow: hidden;
        }
        h3, p {
            @extend .robotoBold;
            color: #000;
            font-size: 0.9em;
            margin: 5px auto;
            text-align: center;
            width: 130px;
        }
        p {
            @extend .robotoRegular;
            color: $main-greyb;
        }
        .cropImg {
            height: 100px;
            margin: 0 auto;
            width: 140px;
        }
        .info {
            height: 65px;
        }
    }
    #sportCarrouselContainer {
        margin: 10px auto 0;
        max-width: 440px;
    }
}
#module_style {
    #styleMain {
        > div {
            padding:0;
        }
        #main, .subMains {
            float: none;
            margin: 0 auto 5px;
            max-width: 440px;
            overflow: hidden;
            padding: 0;
            .styleHover {
                &:hover {    
                    section {
                        background: rgba(0,0,0,0.9);
                    }
                }
            }
            section {
                @extend .opacityBlack;
                bottom: 1px;
                color: #FFF;
                cursor: pointer;
                left: 0;
                position: absolute;
                text-align: center;
                width: 100%;
                h2, p {
                    @extend .robotoBold;
                    font-size: 0.9em;
                    margin: 5px 0;
                }
                h2 {
                    text-transform: uppercase;
                }
            }
            .cropImg {
                border-bottom: 1px solid #FFF;
                height: 240px;
            }
        }
        .subMains {
            max-width: 285px;
            > div {
                margin-bottom: 5px;
                position: relative;
            }
            .cropImg {
                height: 180px;
                width: 300px;
            }
        }
    }
    #styleSec {
        margin: 10px auto 0;
        max-width: 400px;
        > div {
            margin: 0 0 20px 0;
            padding: 0;
            overflow: hidden;
        }
        h3, p {
            @extend .robotoBold;
            color: #000;
            font-size: 0.9em;
            margin: 5px auto;
            text-align: center;
            text-decoration: none;
            width: 130px;
        }
        p {
            @extend .robotoRegular;
            color: $main-greyb;
        }
        .styleSecHover {
            &:hover {
                text-decoration: none;
                .info {
                    h3 {
                        color: $main-green;  
                    }
                }
            }
        }
        .cropImg {
            height: 100px;
            margin: 0 auto;
            width: 140px;
        }
        .info {
            height: 65px;
        }
    }
}
#module_ticket {
    margin: 20px 0;
    .caroufredsel_wrapper {
        max-width: none;
    }
    #ticketCarrousel {
        .cropImg {
            height: 160px;
            width: 320px;
        }
        .row {
            > div {
                margin-bottom: 5px;
                max-width: 350px;
                padding: 0;
            }
        }
        .slide {
            float: left;
            position: relative;
            section {
                @extend .opacityBlack;
                bottom: 0px;
                color: #FFF;
                cursor: pointer;
                left: 0;
                position: absolute;
                text-align: center;
                width: 100%;
                h2 {
                    @extend .robotoBold;
                    font-size: 0.9em;
                    margin: 5px 0;
                    text-transform: uppercase;
                }
                p {
                    @extend .robotoBold;
                    margin: 5px 0;
                }
            }
        }
        .ticketHover {
            &:hover {
                section {
                    background: rgba(0,0,0,0.8);
                }
            }
        }
    }
    #ticketContainer {
        margin: 10px auto 0;
        max-width: 285px;
    }
}

@media screen and (min-width: 768px){
    .module_banner_main {
        display: block;
    }
    #module_gallery, #module_main_category, #module_main_note {
        .mainImage {
            height: auto;
            section {
                h2 {
                    font-size: 30px;
                    margin: 8px auto;
                }
            }
            .cropImg {
                height: 450px;
                width: 780px;
            }
        }
        #gallerySec {
            max-width: none;
            width: auto;
            > div > div { 
                width: 350px;
                &:last-of-type {
                    margin-left: 20px;
                }
                .cropImg {
                    height: 218px;
                    width: 350px;
                }
                .info {
                    h3 {
                        font-size: 20px;
                        height: 44px;
                        margin-top: 5px;
                    }
                    p {
                        height: 105px;
                    }
                }
            }
        }
        #galleryContainer {
            margin: 10px auto 0;
            max-width: 720px;
        }
    }
    #module_main {
        .caroufredsel_wrapper {
            box-sizing: border-box;
            padding-bottom: 0px !important;
            margin: 0 auto !important;
        }
        #newCarrousel {
            .slide {
                .mainImage {
                    height: auto;
                    section {
                        h2 {
                            font-size: 30px;
                            margin: 8px auto;
                        }
                    }
                    .cropImg {
                        height: 450px;
                        width: 780px;
                    }
                }
                .news {
                    max-width: none;
                    .row {
                        > div {
                            max-width: 350px;
                            &:last-of-type {
                                margin-left: 20px;
                            }
                        }
                    }
                    .info {
                        padding: 3px 0 0 10px;
                        h3 {
                            font-size: 20px;
                            margin: 0;
                        }
                    }
                    section {
                        margin: 0 auto 10px;
                        max-width: 750px;
                    }
                    .cropImg {
                        margin: 0;
                        height: 218px;
                        width: 350px;
                    }
                }
            }
        }
        #newCarrouselContainer {
            margin: 10px auto 0;
            max-width: 720px;
        }
    } 
    #module_sport {
        #sportCarrousel {
            .slide {
                .mainImage {
                    height: auto;
                    section {
                        h2 {
                            font-size: 30px;
                            margin: 8px auto;
                        }
                    }
                    .cropImg {
                        height: 450px;
                        width: 780px;
                    }
                }
            }
        }
        #sportCarrouselContainer {
            margin: 10px auto 0;
            max-width: 720px;
        }
        #sportSec {
            max-width: 720px;
            > div {
                margin: 0 10px;
                max-width: 165px;
                &:first-of-type {
                    margin-left: 0;
                }
                &:last-of-type {
                    margin-right: 0;
                }
            }
            .cropImg {
                height: 120px;
                width: auto;
            }
            .info {
                height: 80px;
            }
            h3, p {
                font-size: 1.1em;
                text-align: left;
                width: 165px;
            }
        }
    }
    #module_style {
        #styleMain {
            margin: 0 auto;
            max-width: 720px;
            #main, .subMains {
                float: left;
                margin: 0;
                max-width: none;
            }
            #main {
                border-right: 1px solid #FFF;
                section {
                    h2 {
                        font-size: 1em;
                    }
                    p {
                        font-size: 18px;
                    }
                }
                .cropImg {
                    height: 320px;
                    width: 480px;
                }
            }
            .subMains {
                > div {
                    margin: 0;
                }
                section {
                    h2 {
                        @include truncate(233px);
                        font-size: 1em;
                    }
                    p {
                        font-size: 18px;
                    }
                }
                .cropImg {
                    height: 160px;
                }
            }
        }
        #styleSec {
            max-width: 720px;
            > div {
                margin: 0 10px;
                max-width: 165px;
                &:first-of-type {
                    margin-left: 0;
                }
                &:last-of-type {
                    margin-right: 0;
                }
            }
            .cropImg {
                height: 120px;
                width: auto;
            }
            .info {
                height: 80px;
            }
            h3, p {
                font-size: 1.1em;
                text-align: left;
                width: 165px;
            }
        }
    }
    #module_ticket {
        #ticketCarrousel {
            .cropImg {
                height: 218px;
                width: 350px;
            }
            .slide {
                section {
                    h2 {
                        @include truncate(350px);
                        font-size: 14px;
                    }
                    p {
                        font-size: 18px;
                    }
                }
            }
            .row {
                margin-bottom: 10px;
                > div {
                    margin-bottom: 0;
                    max-width: none;
                    padding: 0;
                    width: 350px;
                    &:last-of-type {
                        margin-left: 20px;
                    }
                }
            }
        }
        #ticketContainer {
            margin: 10px auto 0;
            max-width: 720px;
        }
    }
}

@media screen and (min-width: 992px){ 
    #module_gallery, #module_main_category, #module_main_note {
        .mainImage {
            overflow: hidden;
        }
        #galleryContainer {
            width: 700px;
        }
        #gallerySec {
            > div > div {
                width: 340px;
                .cropImg {
                    width: 340px;
                }
            }
        }
    }
    #module_main {
        #newCarrousel {
            .slide {
                .news {
                    .cropImg {
                        width: 340px;
                    }
                    .row {
                        > div {
                            max-width: 340px;
                        }
                    }
                }
            }
        }
        #newCarrouselContainer {
            width: 700px;
        }
    }
    #module_sport {
        #sportCarrouselContainer {
            width: 700px;
        }
        #sportSec {
            width: 700px;
            > div {
                padding: 0;
                overflow: hidden;
                width: 160px;
            }
            .info {
                height: 120px;
            }
            h3 {
                font-size: 20px;
            }
            p {
                font-sizde: 16px;
            }
            
        }
    }
    #module_style {
        #styleMain {
            width: 700px;
        }
        #styleSec {
            width: 700px;
            > div {
                padding: 0;
                overflow: hidden;
                width: 160px;
            }
            .info {
                height: 120px;
            }
            h3 {
                font-size: 20px;
            }
            p {
                font-sizde: 16px;
            }
            
        }
    }
    #module_ticket {
        #ticketCarrousel {
            .cropImg {
                width: 340px;
            }
            .row {
                > div {
                    max-width: 340px;
                }
            }
            .slide section h2 {
                @include truncate(310px);
            }
        }
        #ticketContainer {
            width: 700px;
        }
    }
}

@media screen and (min-width: 1200px){ 
    #module_ticket #ticketCarrousel .slide section h2 {
        @include truncate(320px);
    }
}