#noteContainer {
    > div {
        img {
            display: inline-block;
            max-width: 90%;
        }
    }
    #imagen, #imagen_area {
        img {
            margin: 0 auto;
            max-width: 90%;
        }
    }
    #lectureControl {
        margin: 10px 0 20px 0;
        a {
            @extend .dInline;
            @include greenButton(200px);
            cursor: pointer;
            &:first-of-type {
                width: 130px;
            }
            &:last-of-type {
                background: $main-grey;
                width: 80px;
                &:hover {
                    background: darken($main-grey,10%);
                }
            }
            &:hover {
                text-decoration: none;
            }
        }
    }
    #resume {
        @extend .robotoBold;
    }
    aside {
        border-top: 1px solid $main-greyLine;
        padding-top: 15px;
    }
    #module_author {
        h2 {
            @extend .robotoBold;
            color: $main-green;
            font-size: 18px;
            text-transform: uppercase;
        }
        img {
            display: block;
            margin: 0 auto;
            height: 169px;
            width: 169px;
        }
        p {
            @extend .robotoBold;
            color: $main-grey;
            float: right;
            &:first-of-type {
                float: left;
            }      
        }
        section {
            clear: both;
            display: block;
            margin: 0 auto;
            width: 80%;
            &:first-of-type {
                width: 170px;
            }
        }
        .profile {
            @extend .sprite;
            background-position: -165px -29px;
            height: 16px;
            vertical-align: middle;
            width: 20px;
        }
        #bio {
            @extend .roboto;
            color: #000;
        }
    }
    #module_disquss {
        margin-top: 35px;
    }
    #module_isuu {
        margin-bottom: 20px;
        iframe {
            height: 400px;
            width: 100%;
        }
    }
    #module_related {
        > h3 {
            @extend .robotoBold;
            color: $main-green;
            border-bottom: 1px solid $main-greyLine;
            font-size: 24px;
            margin-bottom: 20px;
            padding-bottom: 10px;
            text-transform: uppercase;
        }
        .hoverNoteRelated {
            text-decoration: none;
            &:hover {
                @extend .transition;
                text-decoration: none;
                h3 {                    
                    color: $main-green;
                }
            }
        }
        .note {
            overflow: hidden;
            margin: 0 auto;
            width: 200px;
            h3 {
                @extend .robotoBold;
                color: #000;
                font-size: 24px;
                line-height: 22px;
                margin: 10px 0 5px;
            }
            p {
               @extend .robotoRegular;
                color: $main-greyb;
            }
            .cropImg {
                height: 200px;
                width: 200px;
            }
        }
    }    
    #module_slider {
        margin-bottom: 20px;
        margin-top: 50px;
        #sliderGallery {
            width: 100%;
            -webkit-user-select: none;
            -moz-user-select: none;  
            user-select: none;
            .rsGCaption {
                display: block;
                color: #000;
                height: inherit;
                position: relative;
                text-align: center;
                //text-shadow: 1px 1px 1px #333;
                .infoBlock {
                    height: inherit;
                    position: relative;
                    width: 100%;
                    h4 {
                        bottom: 120px;
                        clear: both;
                        height: 25px;
                        font-size: 14px;
                        font-style: italic;
                        position: relative;
                        margin: 0;
                    }
                }
            }
            .rsArrow {
                display: none !important;
            }
            .rsThumbsArrow.rsThumbsArrowLeft {
                background-color: transparent;
                height: 20px;
                .rsThumbsArrowIcn {    
                    @extend .sprite;
                    background-position: -200px -10px;
                }
            }
            .rsThumbsArrow.rsThumbsArrowRight {
                background-color: transparent;
                height: 30px;
                .rsThumbsArrowIcn {                    
                    @extend .sprite;
                    background-position: -230px -10px;
                }
            }
        }
    }
    #module_social {
        clear: both;
        margin: 10px 0;
        > div {
            margin: 0 auto;
            width: 300px;
            > div {
                text-align: center;
            }
        }
    }
    #module_tags {
        h3 {
            @extend .robotoBold;
            color: $main-green;
            font-size: 18px;
            text-transform: uppercase;
        }
        ul {
            @extend .reset;
            border-top: 1px solid $main-greyLine;
            padding-top: 8px;
            li {
                @extend .dInline;
                padding-left: 8px;
                position: relative;
                &:before {
                    background: #000;
                    border-radius: 100%;
                    border: 1px solid #000;
                    content: "";
                    left: 0;
                    height: 3px;
                    position: absolute;
                    top: 45%;
                    width: 3px;
                }
            }
        }
    }
    #module_video {
        iframe {
            display: block;
            height: 280px;
            margin: 0 auto;
            max-width: 550px;
            width: 100%;
        }
        #videoGallery {
            .mSSlide {
                @extend .robotoBold;
            }
            .tabs ul li h3 {
                font-size: 15px;
                line-height: 13px;
            }
        }
        #video {
            margin: 0 0 20px 0;
        }
        
        
        .mightyslider_modern_skin .mSButtons {
            @extend .sprite;
            background-position: -230px -10px;
            left: auto;
            right: 20px;
            height: 16px;
            width: 16px;
            &.mSPrev {
                background-position: -200px -10px;
                left: 20px;
                right: auto;
            }
        }
    }
}

#module_main_note {
    border-bottom: 1px solid $main-greyLine;
    padding-bottom: 30px;
    .mainImage {
        height: auto;
        section {
            background: #FFF;
            color: #000;
            position: relative;
        }
        figcaption {
            font-style: italic;
            padding-right: 10px;
            text-align: right;
        }
    }
}

@media screen and (min-width: 480px) {
    #module_main_note {
        .mainImage {
            section {
                h2 {
                    font-size: 20px;
                }
            }
        }
    }
    #noteContainer {
        #module_author { 
            h2 {
                text-align: center;
            }
            p {
                float: none;
                &:first-of-type {
                    float: none;
                }
            }
            section {
                clear: both;
                display: inline-block;
                vertical-align: bottom;
                width: 49%;
                &:first-of-type {
                    width: 49%;
                }
                &:last-of-type {
                    margin-bottom: 40px;
                }
            }
        }
        #module_related {
            .note {
                display: inline-block;
                vertical-align: bottom;
                text-align: center;
                width: 49%;
                .cropImg {
                    margin: 0 auto;
                }
            }
        }
    }
}

@media screen and (min-width: 768px){ 
    #module_main_note {
        .mainImage {
            section {
                h2 {
                    font-size: 30px;
                    margin: 8px 0;
                    white-space: normal;
                    text-align: left;
                }
            }
        }
    }
    #noteContainer {
        > div {
            float: right;
            width: 73%;
        }
        aside {
            border-top: none;
            float: left;
            padding: 0;
            max-width: 170px;
            width: 23%;
        }
        #module_author {
            h2 {
                text-align: left;
                width: 60%;
            }
            img {
                margin: 0;
            }
            section {
                &:first-of-type, &:last-of-type {
                    margin: 0;
                    width: 100%;
                }
            }
        }
        #module_related {
            .note {
                display: block;
                text-align: left;
                width: 100%;
                .cropImg {
                    margin: 0 auto;
                    height: 169px;
                    width: 169px;
                }
            }
        }
        #module_slider {
            .rsContainer {
                /*margin: 0 auto;
                max-width: 500px;*/
            }
        }
        #module_social {
            > div {
                width: auto;
                > div {
                    text-align: left;
                }
            }
        }
        #module_video {
            iframe {
                height: 300px;
                max-width: none;
                width: 100%;
            }
        }
    }
}

@media screen and (min-width: 1200px){ 
    #noteContainer {
        #module_slider {
            margin-top: 30px;/*
            .rsContainer {
                max-width: 420px;
            }*/
        }
    }
}