#rightContent {
    .rightTitle {
        @extend .robotoBold;
        background: $main-green;
        color: #FFF;
        font-size: 20px;
        padding: 8px 0;
        text-align: center;
        text-transform: uppercase;
    }
    .module_banner {
        margin: 20px auto;
        text-align:center;
        img {
            display: block;
            margin: 0 auto;
            height: 250px;
            max-width: 300px;
            width: 100%;
        }
    }
    .module_bottom {
        overflow: hidden;
        margin-top: -10px;
        margin-bottom: 25px;
        max-width: none;
        position: relative;
        &:hover {
            &:after {
                background: rgba(0,0,0,0.5);
                content: "";
                left: 0;
                height: 100%;
                position: absolute;
                top: 0;
                width: 100%;
            }
        }
        h2 {
            margin-bottom: 0;
        }
        .mainImage {
            overflow: hidden;
            padding: 0;
            position: relative;
            .cropImg {
                height: 340px;
                width: 370px;
            }
            .glyphicon {
                background: transparent;
                color: #FFF;
                display: none;
                font-size: 20px;
                left: 50%;
                margin-left: -10px;
                margin-top: -10px;
                position: absolute;
                top: 50%;
            }
        }
        .row {
            margin: 0 auto;
            max-width: 300px;
        }
        .smallImage {
            overflow: hidden;
            padding: 0;
            .cropImg {
                height: 150px;
                width: 130px;
            }
            .glyphicon {
                background: none;
                color: #FFF;
                display: none;
                font-size: 20px;
                left: 50%;
                margin-left: -10px;
                margin-top: -10px;
                position: absolute;
                top: 50%;
            }
        }
    }
    .module_classified {
        margin: 0 auto;
        max-width: none;
        .adds {
            background: #005425;
            color: #FFF;
            margin-bottom: 20px;
            h2 {
                @extend .robotoBold;
                border-bottom: 1px solid #FFF;
                font-size: 22px;
                text-transform: uppercase;
                margin: 0;
                padding: 8px 15px;
            }
            > .row.add {
                border-bottom: 1px solid $main-green;
                padding: 7px 15px;
                > a {
                    height: 70px;
                    display: block;
                    width: 100%;
                    &:hover {
                        h3 {
                            text-decoration: underline;
                        }
                    }
                    > div {
                        overflow: hidden;
                        padding: 0;
                    }
                }
                .cropImg {
                    height: 70px;
                    width: 80px;
                }
                h3 {
                    @extend .robotoBold;
                    @include truncate(180px);
                    color: #FFF;
                    font-size: 20px;
                    padding-left: 20px;
                    margin: 0;
                }
                p {
                    @extend .robotoRegular;
                    color: #FFF;
                    padding-left: 20px;
                    margin: 0;
                }
            }
            > .row {
                > div {
                    padding: 0;
                    overflow: hidden;
                }
            }
        }
        .advertise{    
            img {
                display: block;
                margin: 10px auto;
                max-width: 320px;
                width: 100%;
            }
        }
    }
    .module_column {
        margin: 0 auto;
        max-width: none;
        .rightTitle {
            margin-bottom: 0;
        }
        .grid {
            @extend .reset;
            height: auto;
            figure {
                max-width: none;
                figcaption {
                    padding: 1em;
                }
            }
            p {
                font-size: 15px;
                padding: 0;
                span {
                    display: inline-block;
                }
            }
        }
        img {
            display: block;
            margin: 0 auto;
            height: 270px;
            max-width: 320px;
            width: 100%;
        }
    }
    .module_minute {
        > a {
            color: #000;
            &:hover {
                .title {
                    color: $main-green;
                }
            }
        }
        p {
            margin: 0;
        }
        .bullet {
            background: $main-green;
            border-radius: 50%;
            display: block;
            height: 10px;
            position: relative;
            width: 10px;
            &:after {
                content: "";
                display: block;
                background: $main-greyLine;
                height: 30px;
                left: 50%;
                position: absolute;
                top: 15px;
                width: 1px;
            }
        }
        .date, .time {
            @extend .robotoRegular;
            padding-right: 15px;
            text-align: right;
        }
        .row {
            margin-bottom: 18px;
            > div {
                padding: 0
            }
        }
        .sub {
            @extend .robotoRegular;
            color: $main-greyMinute;
            line-height: 15px;
        }
        .title {
            @extend .robotoBold;
            font-size: 16px;
            line-height: 16px;
        }
    }
    .module_news {
        margin: 0 auto;
        max-width: none;
        h3 {
            @extend .robotoBold;
            color: #000;
            font-size: 20px;
            margin: 0;
        }
        span {
            @extend .robotoRegular;
            color: $main-greyb;
        }
        .row {
            padding-bottom: 10px;
            > div {
                overflow: hidden;
                &:first-of-type{
                    padding: 0;
                }
                
            }
        }
        .cropImg {
            height: 150px;
            width: 210px;
            img {

            }
        }
        .module_newsHover {
            &:hover {
                h3 {
                    color: $main-green;
                }
            }
        }
    }
    .module_print {
        margin: 0 auto;
        max-width: none;
        img {
            display: block;
            margin: 0 auto;
            height: auto;
            max-width: 314px;
            width: 100%;
        }
    }
    .module_test {
        margin: 0 auto;
        text-align: center;
        max-width: none;
        .test{
            form {
                input[type="radio"], label {
                    @extend .dInline;
                    margin: 0;
                }
            }
            h3, label {
                @extend .robotoBold;
                font-size: 20px;
                color: #000;
            }
            h3 {
                margin: 20px 0;
            }
            .submit {
                background: #FFF;
                border: 1px solid $main-grey;
                font-size: 14px;
                margin: 15px auto;
                padding: 2px 15px 0 15px;
                &:hover {
                    background: $main-green;
                    border: 1px solid #FFF;
                    color: #FFF;
                }
            }
        }
    }
}

@media screen and (min-width: 768px){ 
    #rightContent {
        .module_print, .module_test, .module_column, .module_news, .module_classified {
            max-width: none;
        }
        .module_classified {
            .adds {
                > .row.add {
                    border-bottom: 1px solid $main-green;
                    padding: 7px 15px;
                    h3 {
                        @include truncate(500px);
                    }
                    .cropImg {
                        height: 70px;
                        width: 100px;
                    }
                }
            }
            .advertise{    
                img {
                    display: block;
                    margin: 10px auto;
                    max-width: 320px;
                }
            }
        }
        .module_news {
            .row {
                border-bottom: 1px solid $main-greyLine;
                padding-top: 10px;
            }
        }
    }
}

@media screen and (min-width: 992px){ 
    #rightContent {
        .module_banner {
            img {
                height: auto;
            }
        }
        .module_bottom {
            h2 {
                font-size: 17px;
                .mainImage {
                    .cropImg {
                        width: 260px;
                    }
                }
                .smallImage {
                    .cropImg {
                        width: 95px;
                    }
                }
            }
        }
        .module_classified {
            .adds {
                h2 {
                    font-size: 19px;
                    padding: 8px 5px;
                }
                > .row.add {
                    .cropImg {
                        width: 80px;
                    }
                    h3 {
                        @include truncate(150px);
                    }
                }
            }
        }
        .module_news {
            h3 {
                max-height: 132px;
                overflow: hidden;
            }
            .row {
                border-bottom: none;
                padding: 5px 0;
            }
        }
    }
}

@media screen and (min-width: 1200px){ 
    #rightContent {
        .module_bottom {
            h2 {
                font-size: 20px;
                .mainImage {
                    .cropImg {
                        width: 260px;
                    }
                }
                .smallImage {
                    .cropImg {
                        width: 95px;
                    }
                }
            }
            .row {
                margin: 0 auto;
                max-width: none;
            }
        }
        .module_column {
            img {
                max-width: none;
            }
        }
        .module_classified {
            .adds {
                h2 {
                    font-size: 22px;
                    padding: 8px 15px;
                }
                > .row.add {
                    h3 {
                        @include truncate(230px);
                    }
                }
            }
        }
    }
}

.grid.column{
    max-height:308px;
}
