footer {
    background: #000;
    margin-top: 50px;
    padding: 15px 0;
    &.relative {
        position: relative;
    }
    &.fixed {
        bottom: 0;
        position: fixed;
        width: 100%;
    }
    p, a {
        color: #FFF;
        float: right;
        margin: 0;
        padding: 0 10px 0 0;
        &:hover {
            color: #FFF;
        }
    }
    p {
        float: left;
        padding: 0 0 0 10px;
    }
}

.navbar.navbar-default {
    background: #000;
    .navbar-brand {
        background: rgba(255,255,255,0.8);
        padding: 5px 15px;
        img {
            margin: 0 auto;
            max-width: 140px;
            width: 100%;
        }
    }
}
.longLabel {
    white-space: normal;
}

.listSuggestions {
    border: 1px solid #ccc;
    list-style-type: none;
    padding: 0;
    li {
        cursor: pointer;
        padding-left: 10px;
        &:hover {
            background: #337ab7;
            color: #FFF;
        }
    }
}