footer {
  background: #000;
  margin-top: 50px;
  padding: 15px 0; }
  footer.relative {
    position: relative; }
  footer.fixed {
    bottom: 0;
    position: fixed;
    width: 100%; }
  footer p, footer a {
    color: #FFF;
    float: right;
    margin: 0;
    padding: 0 10px 0 0; }
    footer p:hover, footer a:hover {
      color: #FFF; }
  footer p {
    float: left;
    padding: 0 0 0 10px; }

.navbar.navbar-default {
  background: #000; }
  .navbar.navbar-default .navbar-brand {
    background: rgba(255, 255, 255, 0.8);
    padding: 5px 15px; }
    .navbar.navbar-default .navbar-brand img {
      margin: 0 auto;
      max-width: 140px;
      width: 100%; }

.longLabel {
  white-space: normal; }

.listSuggestions {
  border: 1px solid #ccc;
  list-style-type: none;
  padding: 0; }
  .listSuggestions li {
    cursor: pointer;
    padding-left: 10px; }
    .listSuggestions li:hover {
      background: #337ab7;
      color: #FFF; }

/*# sourceMappingURL=backend.css.map */
