/*GENERAL*/
header nav,
header #search, 
header #top,
header #slogan {
    display: none;
}
header #logo {
    display: block;
    float: none;
    margin: 0 auto;
    width: 200px 
}

/*CATEGORIA*/
main#homePage,
main #rightContent,
main .category,
main #btnMore {
    display: none;
}
#module_gallery .mainImage section, #module_main_category .mainImage section, #module_main_note .mainImage section {
    position: relative;
}


/*NOTA*/
#noteContainer aside,
#noteContainer #lectureControl,
#noteContainer #module_disquss, 
#noteContainer #module_isuu,
#noteContainer #module_slider, 
#noteContainer #module_video {
    display: none;
}