a {
    &:hover {
          -webkit-transition: all 0.3s ease-in;
          -moz-transition: all 0.3s ease-in;
          -o-transition: all 0.3s ease-in;
          transition: all 0.3s ease-in;
        * {
            -webkit-transition: all 0.3s ease-in;
          -moz-transition: all 0.3s ease-in;
          -o-transition: all 0.3s ease-in;
          transition: all 0.3s ease-in;
        }
    }
}
body {
    @extend .roboto;
}
footer {
    #bottom {
        .row {
            margin: 0;
        }
        #footerLogo {
            img {
                @extend .dBlock;
                margin: 15px auto 10px;
                width: 200px;
            }
        }
        #footerText {
            margin: 10px 0;
            p {
                @extend .dBlock;
                color: #333;
                font-size: 0.8em;
                text-align: center;
                width: 80%;
            }
        }
        #links {
            border-bottom: 0px !important;
        }
    }
    #footerMenu, #bottom #links {
        border-top: 1px solid $main-grey;
        border-bottom: 1px solid $main-green;
        padding: 0;
        ul {
            @extend .reset;
            li {
                @extend .dInline;
                text-align: center;
                width: 49%;
                a {
                    color: #000;
                    display: block;
                    font-size: 0.8em;
                    padding: 6px 0;
                    text-transform: uppercase;
                    text-decoration: none;
                    &:hover {
                        background: $main-green;
                        color: #FFF;
                    }
                }
                &#goTop {
                    border-top: 1px solid $main-grey;
                    width: 100%;
                    a {
                        color: #999;
                        &:hover {
                            color: #FFF;
                        }
                    }
                }
            }
        }
    }
}
header {
    nav {
        &.navbar-default {
            background: #FFF;
            border-left: none;
            border-right: none;
            border-top: 1px solid $main-green;
            border-bottom: 1px solid $main-greyLine;
            border-radius: 0px;
            margin: 0;
            .navbar-brand {
                cursor: pointer;
                &:hover {
                    background: $main-green;
                    color: #FFF;
                }
            }
            .navbar-toggle {
                &:hover, &:focus, &.active {
                    background: $main-green;
                    span {
                        background-color: #FFF;
                    }
                }
            }
            .navbar-nav, .navbar-collapse {
                @extend .reset;
                li {
                    a {
                        @extend .robotoBold;
                        color: #000;
                        font-size: 15px;
                        text-align: center;
                        text-transform: uppercase;
                        &:hover, &.active {
                            background: $main-green;
                            color: #FFF;                
                        }
                    }
                    &#home {
                        display: none;
                    }
                }
                .dropdown-menu {
                    border: 1px solid transparent;
                    border-radius: 0px;
                    margin-left: -80px;
                    padding: 0;
                    left: 50%;
                    width: 160px;
                    li a {
                        @extend .robotoRegular;
                        font-size: 12px;
                        padding: 10px;
                    }
                }
            }
        }
    }
    .form-control {
        &:focus {
            @include box-shadow(0, 0, 0, 0, false);
            border-color: #ccc;
        }
    }
    .row {
        @extend .reset;
    }
    #middle {
        padding: 8px 0;
        #logo { 
            img {
                display: block;
                margin: 15px auto;
                max-width: 280px;
                width: 100%;
            }
        }
        #search {
            display: none;
            padding: 15px;
            button {
                border-left: none;
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
            }
            input {
                border-top-left-radius: 15px;
                border-bottom-left-radius: 15px;
            }
            .btn-default.focus, .btn-default:focus {
                outline: none;
            }
        }
        #slogan {
            @extend .robotoBold;
            color: $main-greenl;
            font-size: 18px;
            padding: 10px 0;
            text-align: center;
            text-transform: uppercase;
            h2 {
                @extend .reset;
                font-size: 1.2em;
                a {
                    color: $main-green;
                }
            }
        }
        #weather {
            text-align: center;
            text-transform: uppercase;
            div {
                @extend .dInline;
                margin: 0 0 0 5px;
                vertical-align: top;
            }
            h3 {
                @extend .robotoBold;
                color: #000;  
                font-size: 14px;
                margin: 0;   
            }
            img {
                width: 30px;
            }
            p {
                color: $main-grey;
                margin: 0;
            }
        }
    }
    #top {        
        padding: 8px 0;
        text-align: center;
        > a, > div {
            @extend .dInline;
            color: $main-grey;
        }
        > div {
            font-size: 0.9em;
            text-align: center;
            text-transform: uppercase;
            &#social {
                text-align: center;
                a {
                    @extend .sprite;
                    height: 20px;
                    width: 20px;
                    &:hover {
                        -webkit-transition: all 0s;
                        -moz-transition: all 0s;
                        -o-transition: all 0s;
                        transition: all 0s;
                    }
                }
                #facebook {
                    background-position:-5px -5px;
                    &:hover {
                        background-position: -5px -25px;
                    }
                }
                #instagram {
                    background-position:-46px -5px;
                    &:hover {
                        background-position: -46px -25px;
                    }
                }
                #twitter {
                    background-position:-27px -4px;
                    &:hover {
                        background-position: -27px -24px;
                    }
                }
            }   
        }
    }
}
input, textarea {
    &:focus {
        outline: none;
        box-shadow: 0px 0px 4px $main-green;
    }
}

@media screen and (min-width: 768px){
    footer {
        #bottom {
            margin-top: 15px;
            #footerText {
                margin: 0 0 15px 0;
                p {
                    font-size: 0.9em;
                }
            }
            #links {
                padding-top: 10px;
                ul {
                    li {
                        width: 24%;
                    }
                }
            }
        }
        #footerMenu {
            ul {
                li {
                    width: 19%;
                }
            }
        }
    }
    header {
        nav {
            &.navbar-default {
                 .navbar-nav, .navbar-collapse {
                    margin: 0 auto;
                    max-width: 992px;
                }
            }
        }
        #middle {
            > div {
                margin: 30px 0 20px 0;
                padding: 0;
            }
            #logo {
                img {
                    display: block;
                    margin: 0 auto;
                    max-width: 396px;
                    width: 100%;   
                }
            }
            #search {
                display: block;
                margin: 0 auto;
                padding: 0 15px;
                max-width: 315px;
                width: 100%;
            }
            #slogan {
                margin-top: 15px;
            }
        }
        #top {
            margin-top: 15px;
            > div {
                max-width: 250px;
            }
        }
    }
}

@media screen and (min-width: 992px){
    footer {
        #bottom {
            #footerLogo {
                img {
                    margin-top: 10px;
                }
            }
            #footerText {
                p {
                    text-align: left;
                }
            }
            #links {
                border-top: none;
                padding: 0;
                ul {
                    li {
                        width: 48%;
                    }
                }
            }
        }
    }
    header nav.navbar-default .navbar-collapse li {
        a {
            padding: 15px 12px
        }
    }
    header nav.navbar-default .navbar-collapse li#home {
        display: block;
        a {
            padding: 15px 10px;
        }
    }
    .navbar-header {
        display: none;
    }
}

@media screen and (min-width: 1200px){
    footer {
        #bottom {
            #footerLogo {
                img {
                    margin-top: 5px;
                }
            }
            #footerText {
                padding-top: 12px;
            }
            .row {
                margin: 0 auto;
                max-width: 1100px;
            }  
        }
        #footerMenu {
            border-top: none;
            ul {
                margin: 0 auto;
                max-width: 1100px;
                li {
                    width: auto;
                    &#goTop {
                        border-top: none;
                        width: auto;
                    }
                    a {
                        padding: 5px 15px 5px;
                    }
                }
            }
        }
    }
    header {
        nav {
            &.navbar-default {
                 .navbar-nav, .navbar-collapse {
                    max-width: 1100px;
                    width: 1100px;
                     li {
                         a {
                             padding: 15px 17px;
                         }
                     }
                }
            }
        }
        #middle {
            margin: 0 auto;
            max-width: 1400px;
            #slogan {
                display: block;
            }
            #logo {
                a {
                    display: block;
                    margin: 0 auto;
                    max-width: 396px;
                    width: 100%;
                }
            }
        }
    }
}


//ESTILOS PERSONALIZADOS PARA EL MENU DE BOOTSTRAP QUE SE PETA EN 768PX
@media screen and (max-width: 991px) {
    header nav.navbar-default .navbar-nav {
        .dropdown-menu {
            box-shadow: none;
            border: none;
            position: relative;
            left: auto;
            float: none;
            margin: 0 !important;
            width: 100%;
            li {
                border-bottom: 1px solid $main-greyLine;
                width: 100%;
                &:hover {
                    background: $main-green;
                }
            }
        }
        .open .dropdown-menu > li > a {
            color: #000;
            &:hover {
                color: #FFF;
            }
        }
    }    
    
    .navbar-collapse {
        &.collapse.in { display: block !important; }
    }
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        &.collapse{
            display: none!important;        
        }
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
        > li {
            float: none;
            > a {
                padding-top: 10px;
                padding-bottom: 10px;
            }   
        }
    }
}