//********* COLORES **************//

$sports-color:      #000;

$main-grey:         #787878;
$main-greyb:        #313131;
$main-greyLine:     #e4e4e4;
$main-greyMinute:   #525252;

$main-green:        #329d2e;
$main-greenl:       #619c3b;
$contact-back:      #ebf3e9;


//********* CLASES ***************//
.dBlock {
    display: block;
    margin: 0 auto;
}
.dInline {
    display: inline-block;
    vertical-align: middle;
}
.opacityBlack {
    background: rgba(0, 0, 0, 0.5);
}
.opacityGreen {
    background: rgba(50, 157, 46, 0.8);
}
.reset {
    margin: 0;
    padding: 0;
}
.roboto {
    font-family: 'robotoregular';
}
.robotoBold {
    font-family: 'roboto_condensedbold';
}
.robotoRegular {
    font-family: 'roboto_condensedregular';
}
.sprite {
    background-image: url('../img/sprite.png');
    background-repeat: no-repeat;
    display: inline-block;
}
.transition {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}


//********* MIXINS ***************//
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}
@mixin truncate($width) {
  width: $width;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@mixin greenButton($width){
    @extend .transition;
    background: $main-green;
    color: #FFF;
    border: none;
    font-family: 'roboto_condensedbold';
    padding: 5px 0;
    text-align: center;
    width: $width;
    &:hover {
        background: darken($main-green, 10%);
    }
}


//********* FUENTES ***************//
@font-face {
    font-family: 'roboto_condensedbold';
    src: url('../fonts/robotocondensed-bold-webfont.eot');
    src: url('../fonts/robotocondensed-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/robotocondensed-bold-webfont.woff2') format('woff2'),
         url('../fonts/robotocondensed-bold-webfont.woff') format('woff'),
         url('../fonts/robotocondensed-bold-webfont.ttf') format('truetype'),
         url('../fonts/robotocondensed-bold-webfont.svg#roboto_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto_condensedregular';
    src: url('../fonts/robotocondensed-regular-webfont.eot');
    src: url('../fonts/robotocondensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/robotocondensed-regular-webfont.woff2') format('woff2'),
         url('../fonts/robotocondensed-regular-webfont.woff') format('woff'),
         url('../fonts/robotocondensed-regular-webfont.ttf') format('truetype'),
         url('../fonts/robotocondensed-regular-webfont.svg#roboto_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.eot');
    src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff'),
         url('../fonts/roboto-regular-webfont.ttf') format('truetype'),
         url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}